@import 'src/components/global/colors';

.menuItem {
  width: calc(50% - 3rem);
  margin: 1.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  border-radius: 0.25rem;
  overflow: hidden;
  padding-bottom: 2rem;
  background-color: $gray1;
}

.itemMedia {
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.title {
  font-family: 'Playfair Display', serif;
  margin: 0;
  text-align: center;
}

.description {
  text-align: center;
  max-width: 70%;
  margin: 0.5rem 0;
}

.itemBody {
  border-top: 0.5rem solid $hue1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.methodTitle {
  font-size: 1.35rem;
  padding: 0;
  letter-spacing: 0.05rem;
}
