.summaryWrapper {
  color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', serif;
  }

  .summary {
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-color: #FF5100;
    flex: 1;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
  }

  .slackButton {

    background-color: #F0F0F0;
    color: #2B2B2B;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    margin-right: 1rem;

    span {
      margin: auto;
      display: block;
    }

    img {
      height: 1.5rem;
      width: 10%;
      float: left;
    }
  }

  img {
    width: 10rem;
  }
}
